@model GoProShop.ViewModels.ResponseVM
    
@if (Model.IsSuccess)
{
    <div class="col-md-12">
        <div class="alert alert-success">
            <p><span class="fa fa-check-circle fa-2x"></span> @Model.Message</p>
        </div>
    </div>
   
}

