<div class="megamenu">
    <button class="dropbtn dropdown-toggle" data-toggle="dropdown" onclick="myFunction()">Каталог 
        </button>
        <div class="megamenu-content" id="myDropdown">
            <div class="row">
                <div class="column">
                    <h3 class="text-center">Category 1</h3>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <div class="column">
                    <h3 class="text-center">Category 2</h3>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <div class="column">
                    <h3 class="text-center">Category 3</h3>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div> 

<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("О нас", "Contact", "Home")</li>
    <li>@Html.ActionLink("Админ", "Index","Admin")</li>
</ul>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
