@model IEnumerable<GoProShop.ViewModels.ProductGroupVM>

@{
    var options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "products"
    };
}

<div class="form-group" style="margin: 7px;">
    <input type="text" class="form-control" placeholder="Поиск">
</div>
<div class="list-group product-group">
    @foreach (var item in Model)
    {
        @Ajax.ActionLink(item.Name, "GroupProducts", "Product", new { id = item.Id }, options, new { @class = "list-group-item list-group-product-groups" })
    }   

</div>


