body{background-color:#428bca}body nav{background:#428bca;display:inline-block}

.carousel{height:500px;width:100px}.carousel p{color:#000}.carousel a{display:block;padding:10px}

.carousel{height:500px;width:100px}.carousel p{color:#000}
