@{
    var currentId = Url.RequestContext.RouteData.Values["id"];
}
<div class="container-fluid">
    <div class="container" style="padding-top: 25px">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("UserSideMenu", "ProductGroup")
            </div>
            <div class="col-md-9" style="min-height: 900px">
                @Html.Action("UserProductsContent", "Product", new { id = currentId })
            </div>
        </div>
    </div>
</div>

