<div class="admin-content-box">
    <div class="admin-content-box__heading">
        <div class="heading-wrapper ">
            <div class="row">
                <div class="col-md-12">
                    <p>Отзывы</p>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-content-box__body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-notification-message">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div id="admin-feedbacks">
                    @Html.Action("GetAdminFeedbacks", "Feedback")
                </div>
            </div>
        </div>
    </div>
</div>

