<div class="panel panel-default">
    <div class="panel-heading text-left">Отзывы</div>

    <div class="panel-body" style="padding: 20px;">
        @Html.Action("GetAdminFeedbacks", "Feedback")
    </div> 
</div>

