@{
    ViewBag.Title = "Index";
}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Dashboard</a></li>
        <li><a data-toggle="tab" href="#menu1">Orders</a></li>
        <li><a data-toggle="tab" href="#products">Products</a></li>
        <li><a data-toggle="tab" href="#menu2">Stores</a></li>
        <li><a data-toggle="tab" href="#menu2">Charts</a></li>
    </ul>
    <div style="height: 40px; background-color: #f5f5f5">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Some content.</p>
        </div>
        <div id="products" class="tab-pane fade">
            @Html.Partial("PriceList")
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>

