
<div class="container">
    <div class="row" style="height: 50px; background-color: beige; margin-bottom: 15px;">

    </div>
    <div class="col-md-3">
         @{ Html.RenderAction("ProductGroups", "ProductGroup"); }
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Groups of products</strong>
            </div>
            <div class="panel-body">
                <div id="products">
                </div>
            </div>
        </div>
        
    </div>
</div>

