
<div class="col-md-3" style="padding-left: 0;">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Группа товаров</strong></div>
        <div class="panel-body">
            @{ Html.RenderAction("ProductGroups", "ProductGroup"); }
        </div>
    </div>
</div>
<div class="col-md-9" style="padding-right: 0;">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Товары</strong></div>
        <div class="panel-body" style="padding: 7px;">
            <div id="products">
            </div>
        </div>
    </div>
</div>
