<div class="container">
    <div class="row" style="height: 50px; background-color: beige; margin-bottom: 15px;">
        
    </div>
    <div class="col-md-3">
        <div class="list-group-item-heading"><strong>Product groups</strong>
        </div>
        <div class="list-group product-group">
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
            <div class="list-group-item">fsdfsdfsfsdf</div>
        </div>
    </div>
    <div class="col-md-9" style="background-color: #00fa9a">
        <h2>fsdfsfsd</h2>
    </div>
</div>

