<div class="modal-header">
    <ul class="registration-nav">
        <li><a class="ajax-get-link" data-element-to-update="#mainDialogContent" href="@Url.Action("Login", "Account")"><strong>Логин</strong></a></li>
        <li><a class="ajax-get-link" data-element-to-update="#mainDialogContent"  href="@Url.Action("Register", "Account")"><strong>Регистрация</strong></a></li>
        <li class="pull-right"><a class="close-thik" data-dismiss="modal"></a></li>
    </ul>
</div>
